
html {height: 100%;}
body {
  height: 100%;
  font-family: 'Prompt', Arial, Helvetica, sans-serif;
  letter-spacing: 0.005rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
}


:root {
	--color-yellow-hover :#FAE705;
	--color-yellow :#FFEC00;
	--color-yellow-dark :#F3CD13;	
  --color-red :#B50608;
  --color-red-dark :#951316;
	--color-dark :#231F20;
	--color-gray :#4A4A4A;
	--color-mid-gray :#9B9B9B;
	--color-light-gray :#B5B5B5;
  --color-lightest-gray :#F9F9F9;
  --color-white :#FFFFFF;
	--color-blue :#148DF5;
  --color-green :#288215;
}

/*::::::::::: responsive font :::::::::::*/

  .h1,h1 { font-size: 1.75rem;}
  .h2,h2 { font-size: 1.5rem;}
  .h3,h3 { font-size: 1.25rem;}
  .h4,h4 { font-size: 1rem;}
  .h5,h5 { font-size: 0.85rem;}
  .h6,h6 { font-size: 0.8125rem;}
  
  .text-xxs { font-size: .625rem; }/* =10px */
  .text-xs { font-size: .75rem; }/* =12px */
  .text-s {font-size: .875rem;} /* =14px */
  .text-m {font-size: 1rem;} /* =16px */
  .text-l {font-size: 1.125rem;}/* =18px */
  .text-xl {font-size: 1.3125rem;} /* =20px */


/*::::::::::: font weight :::::::::::*/
.font-weight-regular {font-weight: 400 !important;}
.font-weight-medium {font-weight: 500 !important;}
.font-weight-semibold {font-weight: 600 !important;}

/*::::::::::: font color :::::::::::*/
.text-black { color: var(--color-dark);}
.text-gray { color: var(--color-gray);}
.text-red { color: var(--color-red);}
.text-green { color: var(--color-green);}

/*::::::::::: utility :::::::::::*/
.code-text { letter-spacing: 2px; font-weight: 600;}
.bg-white { background-color: var(--color-white); }
.t-shadow {text-shadow: 1px 1px 0px rgba(149,19,22,1);}
.b-shadow { 
  -webkit-box-shadow: 2px 2px 0px 0px rgba(149,19,22,1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(149,19,22,1);
  box-shadow: 2px 2px 0px 0px rgba(149,19,22,1);
}
.b-shadow-blur { 
  -webkit-box-shadow: 0px 2px 4px 0px rgba(149,19,22,1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(149,19,22,1);
  box-shadow: 0px 2px 4px 0px rgba(149,19,22,1);
}
.line-h {
  line-height: 1.2 !important;
}

/*::::::::::: icon :::::::::::*/
.icon-plus {
  background: url(../images/icon-plus.svg) no-repeat center/10px 10px;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 5px -1px 0;
}
.icon-next {
  background: url(../images/icon-next.svg) no-repeat center/10px 10px;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 -2px -2px -2px;
}

/*::::::::::: term :::::::::::*/

.box-scroll {
  height: auto !important;
  max-height: 70vh;
  overflow: scroll;
  position: relative;
}
.logo-net-sm {
  max-height: 15px;
  width: auto;
}

/*::::::::::: list style :::::::::::*/

ul.bullet {
  list-style: disc;
  padding-left: 0 !important;
}

ul.dashed {
    list-style: none;
    padding-left: 0;
}
ul.dashed > li, ul.bullet > li {
    margin-left: 15px;  
}
ul.dashed > li::before {
    content: "-";
    margin-left: -15px;
    padding-right: 10px;
}
ul.bullet > li::before {
    content: "";
    margin-left: -15px;
    padding-right: 15px;
}

.terms {
  letter-spacing: 0.005rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
}
.terms ol {
  counter-reset: item;
  padding-left:20px;
  margin: 8px 0;
}
.terms ol > li {
  counter-increment: item;
  margin-top: 10px;
}
.terms ol ol > li {
  display: block;
  margin: 4px 0 8px;
}
.terms ol ol > li:before {
  content: counters(item, ".") ". ";
  margin-left: -20px;
}

/*::::::::::: form :::::::::::*/

input.form-style,input.form-style-invalid {
  border: 0px solid rgba(216,220,225,0);
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  color: var(--color-dark) !important;
  
  -webkit-box-shadow: 2px 2px 0px 0px rgba(149,19,22,1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(149,19,22,1);
  box-shadow: 2px 2px 0px 0px rgba(149,19,22,1);
}

.invalid-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
}

.custom-select {
  height: 38px;
  border: none !important;
  border-radius: 4px !important;
  background:url(../images/icon-down.svg) no-repeat right .75rem center/16px 8px;
  background-color: var(--color-white);
  font-size: 1rem !important;
  color: var(--color-dark) !important;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(149,19,22,1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(149,19,22,1);
  box-shadow: 2px 2px 0px 0px rgba(149,19,22,1);
}

.input-group>.form-style:not(:last-child) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.input-group>.input-group-append>.btn-yellow {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  box-shadow: 2px 2px 0px 0px rgba(149,19,22,1) !important;
}

/*::::::::::: set placeholder color :::::::::::*/

.form-control::-webkit-input-placeholder { color: var(--color-light-gray); font-size: .875rem; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: var(--color-light-gray); font-size: .875rem; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: var(--color-light-gray); font-size: .875rem; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: var(--color-light-gray); font-size: .875rem; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: var(--color-light-gray); font-size: .875rem; }  /* Microsoft Edge */

/*------- placeholder for select ------*/

select.custom-select:required:invalid {
  color: var(--color-light-gray) !important;
  font-size: .875rem !important;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

/*::::::::::: button :::::::::::*/

.btn-yellow,
.btn-white {
  color: var(--color-dark);
  border-radius: 4px !important;
   -webkit-box-shadow: 3px 3px 0px 0px rgba(149,19,22,1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(149,19,22,1);
  box-shadow: 3px 3px 0px 0px rgba(149,19,22,1);
}
.btn-yellow {
  background: linear-gradient(30deg, rgba(251,201,38,1) 0%, rgba(242,238,183,1) 60%, rgba(195,146,46,1) 100%);
  border: none;
  font-weight: 600;
}
.btn-yellow:hover {
  background: linear-gradient(30deg, rgba(251,201,38,1) 0%, rgba(242,238,183,1) 60%, rgba(195,146,46,1) 100%);
}
.btn-white {
  background-color: var(--color-white);
  border-color: var(--color-white);
}
.btn-white:hover {
  background-color: var(--color-lightest-gray);
  border-color: var(--color-lightest-gray); 
}

.btn-white-line {
  background-color: var(--color-white);
  border-color: var(--color-mid-gray);
}
.btn-white-line:hover {
  background-color: var(--color-lightest-gray);
  border-color: var(--color-mid-gray); 
}
.btn-back {
  position: absolute;
  z-index: 99;
}

.btn-text,
.btn-text:hover {
  text-decoration: underline;
}
/*------- disable --------*/
.btn-white:disabled {
  opacity: 1 !important;
  color: var(--color-light-gray);
}
.btn-white:disabled span{
  opacity: 0.4 !important;
}

.link-white {
  color: var(--color-white) !important;
  text-decoration: underline;
}

/*::::::::::: bg gradient :::::::::::*/
.bg-tawan {
  background: linear-gradient(45deg, rgba(184,32,37,1) 0%, rgba(238,71,35,1) 47%, rgba(230,32,39,1) 73%, rgba(184,32,37,1) 100%);
  background-attachment: fixed;
}

/*::::::::::: Logo :::::::::::*/

.tawan-logo img {
  min-width: 260px;
}
.w-title {
  max-height: 32px;
  width: auto;
}

/*::::::::::: Score :::::::::::*/

.score {
  background: url(../images/bg-score.svg) no-repeat bottom center/106px 56px;
  width: 106px;
  min-height: 56px;
  height: auto;
  padding: 0 0 13px 0;
  -moz-transform: skew(0deg, -10deg);
  -webkit-transform: skew(0deg, -10deg);
  -o-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
}
.score h5, .score h6 {
  font-weight: 500 !important;
  color:var(--color-white);
}
.score h1 {
  font-size: 20px;
  font-weight: 700;
  color:var(--color-yellow);
  margin-bottom: -4px;
  letter-spacing: 2px;
}

/*::::::::::: footer nav :::::::::::*/

.clear { clear: both; height: 70px; }

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:auto;
   width:100%;
   z-index: 20;
   border-top: 1px solid var(--color-lightest-gray);
   -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.5);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.5);
}

.foot-nav ul { 
  height: 50px;
  margin-bottom: 0 !important;
  padding-left:0 !important;
}
.foot-nav ul li{ list-style: none;}
.foot-nav ul li a {
  color: var(--color-dark);
  text-decoration: none;
}
.foot-nav ul li a:hover,
.foot-nav ul li a.active {
  color: var(--color-red);
  text-decoration: none;
}
.nav-1 a i,.nav-2 a i,.nav-3 a i{
  background-repeat: :no-repeat;
  background-position: center;
  background-size: 24px 24px;
  display: block;
  width: 24px;
  height:24px;
}
.nav-1 a i {background-image: url(../images/icn-barcode.svg);}
.nav-2 a i {background-image: url(../images/icn-book.svg);}
.nav-3 a i {background-image: url(../images/icn-gift.svg);}

.nav-1 a:hover i,
.nav-1 a.active > i { background-image:url(../images/icn-barcode-hover.svg);}
.nav-2 a:hover i,
.nav-2 a.active > i { background-image:url(../images/icn-book-hover.svg);}
.nav-3 a:hover i,
.nav-3 a.active > i { background-image:url(../images/icn-gift-hover.svg);}

/*::::::::::: verify code :::::::::::*/

.code_verify ul:first-child{
  padding-top: 0rem;
}

.code_verify ul {
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom: 1px solid var(--color-white);
}

.code_verify ul li {
   color: var(--color-white) !important;
}

.code_success,.code_error {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: right center;
  width: auto;
  height: 20px;
  line-height: 20px;
  padding-right: 26px;
  text-align: right;
}
.code_success {
  background-image: url(../images/icon-code-correct.svg);
}
.code_error {
  background-image: url(../images/icon-code-wrong.svg);
}



/*::::::::::: Reward card :::::::::::*/

.reward-box a {color: currentColor; cursor: pointer;}
.reward-box a:hover {text-decoration: none !important;}

.reward-card {
  background-color: var(--color-white);
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(149,19,22,1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(149,19,22,1);
  box-shadow: 0px 2px 4px 0px rgba(149,19,22,1);
  padding: 5px 5px;
  margin: 0 8px;
}
.reward-pic img { 
  object-fit: fill;
}
.reward-body {
  list-style: none;
  padding-left: 0;
  margin: 10px 10px 5px;
}
.reward-body li:first-child {
  width: 65%;
}
.reward-body li:last-child {
  width: 35%;
}

.reward-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  color: var(--color-dark);
  background-color: var(--color-yellow);
  padding: 6px 8px 6px 10px;
  font-weight: 600;
   -webkit-box-shadow: 2px 2px 0px 0px rgba(214,214,214,.5);
  -moz-box-shadow: 2px 2px 0px 0px rgba(214,214,214,.5);
  box-shadow: 2px 2px 0px 0px rgba(214,214,214,.5);
}

@media (min-width: 350px) {
  .reward-body li:first-child {
    width: 70%;
 }
  .reward-body li:last-child {
    width: 30%;
  }
}

/*--------- when reward out of stock ----------*/

.out-of-stock .reward-pic {
  position: relative;
  overflow: hidden;
}
.out-of-stock .reward-pic::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
}
.out-of-stock .reward-pic::after {
  content: "ขออภัยสินค้าหมด \A รบกวนแลกใหม่วันพรุ่งนี้";
  white-space: pre-wrap;
  width: 100%;
  padding: 4px 2px;
  position: absolute;
  top: 42%;
  left: 0;
  background-color: var(--color-yellow);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: var(--color-dark);
}
.out-of-stock .reward-body {
  color: var(--color-light-gray);
}

.out-of-stock .reward-body .reward-btn {
  color: var(--color-mid-gray);
  background-color: #E7E7E7;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(214,214,214,.7);
  -moz-box-shadow: 2px 2px 0px 0px rgba(214,214,214,.7);
  box-shadow: 2px 2px 0px 0px rgba(214,214,214,.7);
}
.out-of-stock .reward-body .reward-btn span{
  opacity: 0.4 !important;
}

/*::::::::::: reward detail :::::::::::*/

.reward-point {
  background-color: var(--color-white);
  border-radius: 2px;
  color:var(--color-dark);
  font-weight: .875rem !important;
  padding: 6px 8px;
  display: inline-block;
  text-align: center;
  margin-bottom: 16px;
  font-size: 14px;
}
.reward-term .term {
  background: var(--color-white);
  border-radius: 2px;
  padding: 16px;
  color: var(--color-dark);
  height: 100px;
  overflow: hidden;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  position: relative;
}
.reward-term .term:after {
  content: '';
  position: absolute;
  bottom:0;
  left:0;
  
  height: 40px;
  width: 100%;

  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
.reward-term .term.full:after {
  display: none;
}
.reward-term .term.full {
  height: auto;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.reward-term .term ul {
  margin: 0px;
  margin-top: 8px;
  padding: 0px;
  padding-left: 16px;
}
.reward-term .readmore {
  background: rgba(0,0,0,0);
  display: inline-block;
  font-size: 14px;
  color: var(--color-dark);
  cursor: pointer;
}
.reward-term .readmore.active:after {
  content: "ย่อ";
  text-decoration: underline;
}
.reward-term .readmore:after {
  content: "ดูเพิ่มเติม";
  text-decoration: underline;
}

/*::::::::::: Coupon :::::::::::*/

.coupon {
  border:none !important;
  border-radius: 8px !important;
}
.coupon .card-footer {
  background-color: var(--color-white) !important;
  border-top: 1px dashed var(--color-light-gray) !important;
}
.card-footer:last-child {
  border-radius:0 0 8px 8px !important;
}
.coupon-brand {
  max-width: 150px;
}

/*::::::::::: terms :::::::::::*/

.box-scroll {
  height: auto !important;
  max-height: 70vh;
  overflow: scroll;
  position: relative;
}

/*::::::::::: profile :::::::::::*/

.profile-card {
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-dark);
}

/*::::::::::: radio button rounded style :::::::::::*/

.radio-btn {
  width: 100%;
}
.radio-btn input[type="radio"] {
  display: none;
}
.radio-btn input[type="radio"]:checked + .box-radio {
  background: linear-gradient(30deg, rgba(251,201,38,1) 0%, rgba(242,238,183,1) 60%, rgba(195,146,46,1) 100%);
}
.radio-btn input[type="radio"]:checked + .box-radio span {
  color:var(--color-dark);
  /*transform: translateY(70px);*/
}
.radio-btn input[type="radio"]:checked + .box-radio span:before {
  /*transform: translateY(0px);*/
  opacity: 1;
}
.radio-btn .box-radio {
  width: auto;
  min-width:80px;
  height: 2.25rem;
  background-color: var(--color-white);
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  border:none;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(149,19,22,1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(149,19,22,1);
  box-shadow: 2px 2px 0px 0px rgba(149,19,22,1);
}

.radio-btn .box-radio span {
  position: absolute;
  left: 0;
  right: 0;
  line-height: 2.25rem; 
  transition: all 300ms ease;
  font-size: 1rem;
  user-select: none;
  color: var(--color-light-gray);
  text-align: center;
}

@media (min-width: 382px) {
  .radio-btn .box-radio {
    min-width:70px;
    height: 2.25em;
  }
  .radio-btn .box-radio span {
    line-height: 2.25em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1108px) {
  .radio-btn .box-radio {
    min-width:54px;
    height: 2em;
  }
  .radio-btn .box-radio span {
    line-height: 2em;
  }
 }

/*::::::::::: radio and checkbox :::::::::::*/

.radio,
.check {
  position: relative;
  cursor: pointer;
  line-height: 16px;
}

.radio .label,
.check .label {
    position: relative;
    display: block;
    float: left;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-white);
    background-color: rgba(255,255,255,0.3);
    -webkit-tap-highlight-color: transparent;
}
.radio .label {
  border-radius: 2px;
}
.check .label {
  border-radius: 50%;
}

.radio .label:hover .label:after, 
.check .label:hover .label:after {
      transform: scale(1); 
}

.radio2 .label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #f26522;
  transform: scale(0);
  transition: all .2s ease;
  opacity: .08;
  pointer-events: none;
}

.radio .label:after,
.check .label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-image: url(../images/icon-check.svg);
  transform: scale(0);
  transition: all .2s ease;
  opacity: .08;
  pointer-events: none;
}

.radio input[type="radio"]:checked + .label,
.check input[type="checkbox"]:checked + .label {
  background: linear-gradient(30deg, rgba(251,201,38,1) 0%, rgba(242,238,183,1) 60%, rgba(195,146,46,1) 100%);
}

.radio input[type="radio"]:checked + .label:after,
.check input[type="checkbox"]:checked + .label:after {
    transform: scale(1);
    transition: all .2s ease-out;
    opacity: 1;
}

.hidden {display: none;}

.opt-box {
  display: table-cell;
  width: 100%;
  word-break: break-all;
}

/*::::::::::: ฺmodal setup :::::::::::*/

.modal-sm {
  max-width: 17.5rem !important;
}
.modal-lg {
  max-width: 90% !important;
}
.modal-dialog {
  margin-left: auto;
  margin-right: auto;
}
.modal-btn {
  width: 100%;
  border-top: 1px solid #ebebeb;
  padding: .5rem 0;
  background-color: #fff;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
}
.modal-btn:hover {
  background-color: #f4f4f4;
}

.modal-footer > :not(:first-child) {
  margin-left: 0 !important;
  border-left: 1px solid #ebebeb;

}
.modal-footer > :not(:last-child) {
    margin-right: 0 !important;
}

@media (min-width: 576px) {
  .modal-btn {
    padding: .625rem 0;
  }
  .modal-sm {
    max-width: 20rem !important;
  }
  .modal-lg {
    max-width: 480px !important;
  }
}


/*::::::::::: ฺTabs :::::::::::*/

.history-tabs .list-group {
  box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.20);
  background-color: var(--color-white);
  border-radius: 4px;
  border: 1px solid var(--color-yellow-dark);
  overflow: hidden;
}
.history-tabs .list-group-item {
  background: none;
  border: 0;
  text-align: center;
  border-radius: 0px !important;
  color: var(--color-light-gray);
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
}
.history-tabs .list-group-item.active {
  color: var(--color-dark);
  background-color: var(--color-yellow-dark);
}

/*::::::::::: ฺRedeem :::::::::::*/

.redeem-box {
  border-bottom: 1px solid var(--color-white);
  padding: 16px 0;
}
div.redeem-box:first-child {
  padding: 0 0 16px;
}
div.redeem-box:last-child {
  border-bottom: none;
  padding: 16px 0 0;
}

.redeem {
  align-items: center!important;
}

@media (min-width: 360px) {
 .redeem {
  align-items: flex-start !important;
 }
}

.redeem-box a {color: var(--color-white) !important; cursor: pointer;}
.redeem-box a:hover {text-decoration: none !important;}

.redeem-pic {
  width: 35%;
}
.redeem-pic img {
  border:3px solid var(--color-white);
}
.redeem-detail {
  width: 65%;
}
.redeem-detail-head {
  border-bottom: 1px dashed var(--color-white);
  padding-bottom: 6px;
  margin-bottom: 8px;
}
.redeem-expire {
  position: absolute;
  bottom: 0;
  left: 0;
}

.collect-box {
  border-bottom: 1px solid var(--color-white);
  padding: 8px;
}
div.collect-box:first-child {
  padding: 0 8px 8px;
}
div.collect-box:last-child {
  border-bottom: none;
  padding: 8px 8px 0;
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 5px !important;
  border: none !important;
  background-color: #000000 !important;
}

#demo dl, ol, ul{
  margin-bottom: 0;
}

.lucky-name-box {
  background: var(--color-white);
  border-radius: 2px;
  padding: 16px 16px;
}
.lucky-name-list {
  margin: 8px 0;
  border-bottom: 1px solid #dddddd;
}

.lucky-name-list:last-child {
  border-bottom: none;

}




